<header class="header">
  <nav class="header__navigation">
    <ul class="header__list">
      <li class="header__list">
        <a href="#fire" class="header__link">Fire</a>
      </li>
      <li class="header__list">
        <a href="#water" class="header__link">Water</a>
      </li>
      <li class="header__list">
        <a href="#grass" class="header__link">Grass</a>
      </li>
      <li class="header__list">
        <a href="#about" class="header__link">about</a>
      </li>
    </ul>
  </nav>
</header>